<!DOCTYPE html>
<html>
<head>
  <title>ZapierRestHooks</title>
  <%= stylesheet_link_tag    "zapier_rest_hooks/application", media: "all" %>
  <%= javascript_include_tag "zapier_rest_hooks/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
